/*-- scss:defaults --*/

$link-color: #ff66c4;

$presentation-h1-font-size:	2.5em;

// fonts
$font-family-sans-serif:
  SourceSansProRegular, 
  Arial, 
  sans-serif;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

// increase the size of the logo
.reveal .slide img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}